.footer__box {
    max-width: 1140px;
    margin: 0 auto;
    padding: 64px 0;
}

.footer__box h3 {
    font-size: 20px;
    color: #25262a;
}

.footer__box li {
    margin-bottom: 10px;
}


.footer__box li a {
    color: #5c626e;
    font-size: 16px;
    text-decoration: none;
    transition: .3s all ease;
    line-height: 1.7;
    font-weight: 300;
    font-size: 16px;
}

.footer__box li a:hover {
    color: #7971ea;
}

.list__box_top{
    display: flex;
    align-items: start;
    gap: 10px;

}


.list__box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list__box__icon i {
    font-size: 17px;
    line-height: 1;
    color: #7971ea;
}

.h3__light{
    text-decoration: none;
    font-size: 18px !important;
    color: #7971ea !important;
    font-weight: 300 !important;
}

.block-6{
    text-decoration: none;
    color: #737b8a;
    font-weight: 300;
    font-size: 16px;
}

.inp__from{
    position: relative;
    height: 50px;
}

.inp__txt{
    height: 100%;
    padding-right: 90px;
}

.inp__sumbit{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .2em;
    color: #fff;
    background-color: #7971EA;
    border-color: #4f45e3;
    text-transform: uppercase;
}

.inp__sumbit:hover{
    background-color: #5a50e5;
    border-color: #4f45e3;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
}

.footer__heading{
    font-size: 20px;
    color: #25262a;
    line-height: 1.7;
    font-weight: 300;
    margin-bottom: 8px;
}

.footer__p{
    line-height: 1.7;
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}

.footer__p a{
    text-decoration: none;
    color: #7971EA;
    transition: .3s all ease;
}

.footer__p a:hover{
    color: #3a2ee0 !important;
}